@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    box-sizing: border-box;
}

:root {
    --para: hsla(0, 0%, 100%, 0.75);
    --wyte: hsl(0, 0%, 95%);
    --BS: 'Big Shoulders Display', cursive;
    --LD: 'Lexend Deca', sans-serif;
}

html, body{
    height: 100%;
    margin: 0px;
    background-color:var(--wyte);
}

main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:  center;
}

.component{
    width: min(90%, 700px);
    height: 400px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    transform: translateY(20px);
}

.column{
    width: 100%;
    padding: 35px;
}

.column svg{
    scale: 80%;
    position: relative;
    transform: translateX(-5px);
}

.column h1{
    color: var(--wyte);
    font-family: var(--BS);
}

.column p{
    color: var(--para);
    font-family: var(--LD);
    font-size: 12px;
    line-height: 20px;
    margin-right: 0px; 
}

.column button{
    border-radius: 20px;
    border: 0px;
    height: 40px;
    width: 75%;
    background-color: var(--wyte);
    margin-top: 45px;
    border: 2px solid var(--wyte);
    font-weight: bolder;
}

.column button:hover{
    cursor:pointer;
}

#column1{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: hsl(31, 77%, 52%) ;
}

#column1 button{
    color: hsl(31, 77%, 52%);
}

#column1 button:hover{
    background-color: inherit;
    color: var(--wyte);
}

#column2{
    background-color: hsl(184, 100%, 22%) ;
}

#column2 button{
    color: hsl(184, 100%, 22%);
}

#column2 button:hover{
    background-color: inherit;
    color: var(--wyte);
}

#column3{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#column3 button{
    color: hsl(179, 100%, 13%);
}

#column3 button:hover{
    background-color: inherit;
    color: var(--wyte);
}


@media (max-width: 400px){
    .component{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,450px);
    }

    .column{
        width: 100%;
        padding: 50px;
    }

    #column1{
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    #column3{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

        
    .column svg{
        scale: 100%;
        position: relative;
        transform: translateX(-1px);
    }

    .column h1{
        font-size: 40px;

    }

    .column p{
        font-size: 15px;
        line-height: 25px;
    }

    .column button{
        height: 50px;
        width: 65%;
        margin-top: 25px;
        border-radius: 30px;
        font-size: 16px;
    }

}